.root {
    display:flex;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    /* max-width: 512px; */
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    /* background-color: #242424; */
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: auto;
    
    /* background: url("https://static.vecteezy.com/system/resources/previews/027/010/072/non_2x/blackjack-black-neon-poker-card-with-poker-chips-on-black-blurred-background-casino-backdrop-for-your-arts-vector.jpg"); */
    

  }

  .root > div {
    display: block;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .test{
    display: inline-block;
  }

  .logo {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }
  .wow{
    text-align: center;
    line-height: 50px;
    
  }

  .card {
  /* font-size: 80px; */
  width: 300px;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: 10% 60%;
}

.card-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20px;
  margin-bottom: -120px;
}

.splash {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  clip-path: path(
    "M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
  );
}
.hide{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}
.hide::-webkit-scrollbar {
  display: none;
}