
#LoginBox{
    display:flex;
    background-color:#1b1b1b;
    padding:40px;
    border-radius:15px;
    row-gap:10px;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:500px;
    height:600px
    
    
    
}
.LoginText{
    color: aliceblue;
    margin-bottom:175px;
}
.LoginLabel{
    display:flex;
    color:aliceblue;
    
}
#LoginHeader{
    font-weight:bold;
    font-size:30px;
}
.iconLoginContainer{
    margin-bottom: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:10px;
}
    
#loginIcon{
    scale:5;
    position:absolute;
    top:70px;
    right:50vw;
}    

.box {
   
    height: 80px;
    border-radius: 50px;
    background-color: #1ed760;
    cursor: pointer;
    align-content:center;
    border-color:#017228;
    scale:.8;
    width:300px
}
#logInContainer{
    justify-content: center;
}

button:hover{
    border-color:rgb(175, 236, 193);
    border-width:2px;
}
span{
    color:aliceblue
}
#formFieldRow{
    width:300px;
    align-self:center;
}
#loginStatusMessage{
   width:100px;
}
#header{
    height:200px;
}



