
#LoginBox{
    display:flex;
    background-color:#121212;
    padding:100px;
    border-radius:15px;
    row-gap:100px;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.LoginText{
    color: aliceblue;
}
.LoginLabel{
    display:flex;
    color:aliceblue;
    
}
#LoginHeader{
    font-weight:bold;
    font-size:50px;
}
#icon{
    scale: 3;
}
.box {
    width: 200px;
    height: 80px;
    border-radius: 50px;
    background-color: #1ed760;
    cursor: pointer;
    align-content:center;
  }

  #indexBody{
    background: linear-gradient(rgba(0, 0, 0, 0.808) 0%, rgb(0, 0, 0) 100%)
  }
button:hover{
    border-color:aliceblue;
}
span{
    color:aliceblue
}


