
#LoginBox{
    display:flex;
    background-color:#1b1b1b;
    padding:100px;
    border-radius:15px;
    row-gap:10px;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width:45%;
    margin-bottom: 115px;
    
}
.LoginText{
    color: aliceblue;
    margin-bottom:200px;
}
.LoginLabel{
    display:flex;
    color:aliceblue;
    
}
#LoginHeader{
    font-weight:bold;
    font-size:50px;
}
#icon{
    scale: 3;
}
.box {
   
    height: 80px;
    border-radius: 50px;
    background-color: #1ed760;
    cursor: pointer;
    align-content:center;
    border-color:#017228;
    scale:.8
}
#indexBody{
    background: linear-gradient(rgba(0, 0, 0, 0.808) 0%, rgb(0, 0, 0) 100%)
  }
button:hover{
    border-color:rgb(175, 236, 193);
    border-width:2px;
}
span{
    color:aliceblue
}
#formFieldRow{
    width:300px;
    align-self:center;
}


